<p id="notice"><%= notice %></p>

<h1>Glossaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>External use</th>
      <th>English name</th>
      <th>Description</th>
      <th>Development name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glossaries.each do |glossary| %>
      <tr>
        <td><%= glossary.name %></td>
        <td><%= glossary.external_use %></td>
        <td><%= glossary.english_name %></td>
        <td><%= glossary.description %></td>
        <td><%= glossary.development_name %></td>
        <td><%= glossary.status %></td>
        <td><%= link_to 'Show', glossary %></td>
        <td><%= link_to 'Edit', edit_glossary_path(glossary) %></td>
        <td><%= link_to 'Destroy', glossary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glossary', new_glossary_path %>
